In [28]:
##create sql connection
import mysql.connector as sql

connection =sql.connect(
    host ="localhost",
    user ="root",
    password ="abcd1234",
    database ="college_info",
)
print(connection)

<mysql.connector.connection.MySQLConnection object at 0x00000265C5C1EA60>

# Creating Databases

In [1]:
cursor =connection.cursor()

cursor.execute("CREATE DATABASE college_info")

NameError: name 'connection' is not defined

In [30]:
cursor.execute("SHOW DATABASES")
for database in cursor:
    print(database)

('college_info',)
('db1',)
('information_schema',)
('library',)
('library_1',)
('mysql',)
('performance_schema',)
('sakila',)
('studen_2',)
('sys',)
('world',)

In [41]:
##execute and drop some database and check:

In [26]:
#CREATE TABLES IN MYSQL USING PYTHON

In [31]:
cursor =connection.cursor()
s1 ="CREATE TABLE student(student_id INT AUTO_INCREMENT PRIMARY KEY,name VARCHAR(255),subject VARCHAR(255),branch VARCHAR(255))"
cursor.execute(s1)

ProgrammingError: 1050 (42S01): Table 'student' already exists

In [27]:
#INSERT RECODES IN TABLES

In [32]:
s2 ="INSERT INTO student(name,subject,branch) VALUES(%s,%s,%s)"
value =("Rumit","Python_Devloper","Electronis")
cursor.execute(s2,value)

In [34]:
#insert multiple recorde in table
s3 ="INSERT INTO student(name,subject,branch) VALUES(%s,%s,%s)"
value =[("Visahl","Java_Devloper","Electrinis"),
        ("Jaydeep","Machine_Learning","Electical")]
cursor.executemany(s3,value)

In [36]:
#select all
cursor =connection.cursor()
cursor.execute("SELECT * FROM student")

In [37]:
#fetch all data
cursor.fetchall()

[(1, 'Rumit', 'Python_Devloper', 'Electronis'),
 (2, 'Visahl', 'Java_Devloper', 'Electrinis'),
 (3, 'Jaydeep', 'Machine_Learning', 'Electical')]

In [40]:
##selecting particular rows
s4 ="(SELECT * from student where name ='Rumit')"
cursor.execute(s4)

In [42]:
cursor.fetchall()

[(1, 'Rumit', 'Python_Devloper', 'Electronis')]

In [45]:
s5 =("SELECT branch from student where branch ='Electronis'")
cursor.execute(s5)

In [46]:
cursor.fetchall()

[('Electronis',)]

In [50]:
#drop Table
#cursor.execute("DROP TABLE "table name"")